/*
Color:
#2E323F;
#3B4050;
#6F737F
#FFFFFF
#A59678
*/

/* General ---------------------------------------------------*/

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 16px;
}

img {
    max-width: 100%;
}

/* Global ---------------------------------------------------*/

.container-global {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
/*     border: 2px solid red; */
}

.flex {
    display: flex;
}


.oswald {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.brown-button {
    background-color: #A59678;
    padding: 0.5em 1em;
    border-radius: 100px;
}

span {
    color:#A59678;
}

/* Navigation ---------------------------------------------------*/

.navigation {
    width: 100%;
    background-color: #2E323F;
    color: white;
    font-size: .5rem;
    text-transform: uppercase;
}

.container-nav {
    justify-content: space-between;
}

.list-item {
    list-style: none;
    color: white;
    padding-left: 1em;

}

.list-link {

    color: white;
    text-decoration: none;
}

/* Hero ---------------------------------------------------*/
main {
    background-color: #3B4050;
}

.container-hero {
    height: 70%;
    align-content: space-around;
}

.hero {
    height: 100vh;
    color: white;
    text-align: center;
    background-color: #3B4050;

}

.hero__con-pri {
    font-size: 1.5rem;
    padding: 1em 0;
}

.hero__con-sec {
    font-size: 1rem;
}

.hero__con-sec p {
    padding: 2em 0;
}

.link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}


/* 3 Colum Section ---------------------------------------------------*/

.three-columns {
    height: auto;
    width: auto;
    background-color: lightgray;
    text-align: center;
    padding: 3em 0;
}

h3 {
    color:#A59678;
    font-size: 1.25rem;
}

.column {
    padding: 1em 0;
}



/* Content ---------------------------------------------------*/



/* Footer ---------------------------------------------------*/

