/* COLOR AND STYLE ---------------------------------------------------*/
/*
Color:
#2E323F;
#3B4050;
#6F737F
#FFFFFF
#A59678

Fonts:

*/

/* General ---------------------------------------------------*/

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

img {
    max-width: 100%;
}

/* Global ---------------------------------------------------*/

.container-global {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* Navigation ---------------------------------------------------*/

.navigation {
    background-color: #2E323F;
    color: white;
}

.list-item {
    list-style: none;
    color: white;
}

.list-link {

    color: white;
    text-decoration: none;
}

/* Hero ---------------------------------------------------*/


/* 3 Colum Section ---------------------------------------------------*/



/* Content ---------------------------------------------------*/



/* Footer ---------------------------------------------------*/

